body{
    width: 100%;
    background: url("../img/fondo.jpg");
}

.mycaja{
    padding-bottom: 50px;
}

.caja{
    margin-top: 50px;
    box-sizing: border-box;
    display: inline-block;
    width: 23%;
    vertical-align: top;
    padding: 10px 10px;
    margin-left: 100px;
    background: rgba(134, 179, 199, 0.62);
    border: 3px solid #5474ff;
    color: #ffffff;
    text-align: center;
}

.caja:hover {
    transform: scale(1.2);
}

.caja h3{
    margin: 10px ;
}

.caja h2{
    font-size: 20px;
}

.h2{
    text-decoration: underline;
}

.caja img{
    width: 150px;
    height: 150px;
    top: 100px;
}

.bdiv {
    height: 50px;
    background:  #17263b;
    border: 0;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    width: 28%;
    margin-top: 20px;
    left: 107px;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.bdiv:hover,.bdiv:active {
    opacity: 0.6;
    color: #fff;
}

.bdiv:focus {
    opacity: 0.6;
    color: #fff;
    background: #5c82d5;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.theme-mi-slider .nivoSlider{
    position:relative;
}

.theme-mi-slider .nivoSlider a {
    border:0;
    display:block;
}

.myslide{
    width: 97%;
    margin: auto;
}

.myslide img{
    height: 500px;

}

.myslide a{
    padding: 0;

}

.nivo-controlNav{
    display: flex;
    justify-content: center;
    padding: 0;
}

.theme-mi-slider .nivo-control{
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #545454;
    margin: 3px;
    text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
    background: #1B1B1B;
}

.theme-mi-slider .active{
    background: #1B1B1B;
}

.nivo-directionNav a{
    display: block;
    width: 30px;
    height: 30px;
}

.nivo-directionNav .nivo-prevNav{
    background-image: url(../image/icons/circle-left.png);
    background-size: cover;
    text-indent: -9999px;
    left: 6px;
}

.nivo-directionNav .nivo-nextNav{
    background-image: url(../image/icons/circle-right.png);
    background-size: cover;
    text-indent: -9999px;
    right: 6px;
}

.nivo-html-caption{
    position: absolute;
}


.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white;
    filter:alpha(opacity=0);
    opacity:0;
}

.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
    position:absolute;
    top: 40%;
    left:0px;
    bottom:0px;
    font-family: sans-serif;
    text-align: center;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    overflow: hidden;
    display: none;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}

.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}