<!DOCTYPE html>
<html>
<head>
	<title>Canal Etico</title>
</head>
   <link href="../repositorio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../repositorio/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../repositorio/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../repositorio/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../repositorio/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- JQUERY-->
    <script src="../repositorio/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../repositorio/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../repositorio/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../repositorio/vendor/raphael/raphael.min.js"></script>
    <script src="../repositorio/vendor/morrisjs/morris.min.js"></script>
    <script src="../repositorio/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../repositorio/dist/js/sb-admin-2.js"></script>
     <link href="../repositorio/css/estilo.css" rel="stylesheet" type="text/css">
<body>
     <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background: #1B1B46;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #fff" href="index.html"><b>CINESKYPE</b></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                            
                <!-- /.dropdown -->
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" style="color: #fff"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" > 
                     
                        <li <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Iniciar sesion</a>
                        
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="../index.html"><i class="fa fa-circle  fa-fw"></i> Cartelera</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-circle   fa-fw"></i> Promociones</a>
                                                  <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-circle   fa-fw"></i> Nuestro Cine</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-circle   fa-fw"></i> StarCard</a>
                        </li>
                       
                        <li>
                            <a href="#"><i class="fa fa-circle   fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row" >
                <div class="col-lg-12" >
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                        <div class="form-group">
                                            <label> pelicula</label>
                                            <input  type="text" class="form-control">
                                        </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Fecha de la pelicula</label>
                                            <input  type="date" class="form-control">
                                        </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Numero de entradas</label>
                                            <input  type="text" class="form-control">
                                        </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Nombre y apellido </label>
                                            <input  type="text" class="form-control">
                                        </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-6">
                                        <div class="form-group"  >
                                            <label>Elegir forma de pago</label>
                                           <div style="display:flex;"> 
                                            <div class="radio" >
                                                
                                                     <div>
                                                       <input type="radio" name="optionsRadios" id="optionsRadios1"  value="option1" checked>                                 
                                                    </div>
                                                   <div>
                                                        <img src="https://www.viabcp.com/wcm/connect/1d3e0805-edee-4fc5-89c8-e0266a61bc84/BCP_tarjeta+Credima%CC%81s+De%CC%81bito+Visa+%28tira%29-XL.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-1d3e0805-edee-4fc5-89c8-e0266a61bc84-mlDFtGG" style="margin-left: 5%;height: 100px;width: 200px;">
                                                    </div>
                                                   
                                                    
                                                
                                            </div>
                                            <div class="radio" style="margin-left: 10%;margin-top: 2%">
                                                
                                                    <div>
                                                       <input type="radio" name="optionsRadios" id="optionsRadios1"  value="option1" checked>                                 
                                                    </div>
                                                   <div>
                                                        <img src="https://www.bbvacontinental.pe/fbin/mult/tarjeta_continental_zero_destacado_gris_tcm1105-612405.jpg" style="margin-left: 5%;height: 100px;width: 200px;">
                                                    </div>
                                                   
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>       
                </div>
            </div>
        
          
        </div>
        <!-- /#page-wrapper -->

    </div>
 
</body>
</html>
