{% extends 'core/base.html' %}

{% block posters %}
    {% load static%}
    <ul id="flexiselDemo2">
    {%for movie in movies %}
     
        <li>
            <img src="{{movie.image.url}}" alt="" id="imgr1" data-toggle="modal" data-target="#myModal{{movie.id}}" />
        </li>
    {% endfor%}
    </ul>
    

    {%for movie in movies %}
    <!-- Modal 1 -->
    <div class="modal fade" id="myModal{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="titulomodal" id="myModalLabel">{{movie.tittle}}</h4>
                    </div>
                    <div class="modal-body">
                            <iframe width="570" height="300" src="http://www.youtube.com/embed/{{movie.embedTrailer}}"></iframe>
                            
                            <!--<iframe src="http://www.youtube.com/embed/dP15zlyra3c"></iframe>-->
                            <hr>
                             <div class="descripcion">
                                    <h3>Descripción</h3>
                                    <p>{{movie.description}}</p>
                                    
                             </div>    
                        </div>   
                    <div class="modal-footer">
                            <div class="news-left-grid">
                                    <a href="{% url 'comprar' movie.id %}">
                                        <i class="book"></i>COMPRAR </a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor%}
    
{% endblock %}