{% extends 'ventaEntrada/basetemp.html'%}
{% block content %}
     
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <a href="view/FormularioVenta.html"> Pelicula - Venon </a>   
                        </div>
                        <div class="panel-body contenedor">
                          
                        </div>
                        <div class="panel-footer">
                            <u style="text-decoration: none">
                                <li>Fecha de estreno 5 de octubre de 2018</li>
                                <li>Dirigida por Ruben Fleischer</li>
                                <li>Reparto Tom Hardy, Michelle Williams</li>
                                <li>Géneros Ciencia ficción, Acción</li>
                            </u>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Pelicula - Hallowen
                        </div>
                        <div class="panel-body contenedor2">
                            
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pelicula - La Sirena
                        </div>
                        <div class="panel-body contenedor3">
                            
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel  panel-default">
                        <div class="panel-heading">
                           Pelicula - Kung Fu Panda
                        </div>
                        <div class="panel-body contenedor4">
                            
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pelicula - Hote Transylvania
                        </div>
                        <div class="panel-body contenedor5">
                            
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pelicula - Contra Viento y Marea
                        </div>
                        <div class="panel-body contenedor6">
                            
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
      
     
{% endblock %}